# Node.js & Vite
node_modules/
dist/
.env
.vite/

# Java (Spring Boot)
target/
*.log
*.class
*.jar
*.war
*.iml
*.db

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Build Output
portfolio-frontend/dist/
portfolio-backend/src/main/resources/static/
